.header {
    display: flex;
    align-items: center;
    min-height: var(--header-height);

    &-block {        
        padding: var(--module) var(--section-x-gutter);
        max-width: var(--container-width);
        width: 100%;
        margin: 0 auto;
    }

    &-logo {
        display: flex;
    }

    // &__burger {
    //     display: none;
    //     border: none;
    //     padding: 0;
    //     height: 40px;
    //     width: 40px;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: transparent;
    //     border: none;
    //     border-radius: var(--module);
    //     background: rgba(255,255,255,.2);
    //     backdrop-filter: blur(3px);
    //     z-index: 3;

    //     svg {
    //         display: block;
    //     }
    // }

}

@media screen and (max-width: $screen-desktop) {

} 

@media screen and (max-width: $screen-laptop) {

}

