.header {
    display: flex;
    align-items: center;
    min-height: var(--header-height);

    &-block {
        padding: var(--module) var(--section-x-gutter);
        max-width: var(--container-width);
        width: 100%;
        margin: 0 auto;
    }

    &__burger {
        $size: 37px;
        display: none;
        margin-top: -5px;
        padding: 0;
        height: $size;
        width: $size;
        border-radius: $size;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid black;
        z-index: 1000;

        svg {
            display: block;
        }
    }
}

.header-2 {
    position: sticky;
    top: 0;
    z-index: 1;

    &-block {
        padding: 0 0 0 var(--section-x-gutter);
        max-width: var(--container-width);
        width: 100%;
        margin: 0 auto;

        aside {
            padding-top: var(--stycky-menu-top-position);
        }
    }
}

@media screen and (max-width: $screen-desktop) {

}

@media screen and (max-width: $screen-laptop) {
    .header {
        &-logo {
            display: flex;
            margin-bottom: calc(var(--module) * 1.3);
        }

        &__burger {
            display: flex;
        }
    }

    .header-2 {
        position: static;
    }
}