.sidebar {
    // margin: calc(var(--module) * 16) 0 0;
    z-index: 100;

    &_invert {
        * {
            color: var(--color-white);

            &:hover {
                color: var(--color-white)!important;
            }

        }  

        button:not(.button-primary) {
            border-color: var(--color-white);
        }
    }
    &_sticky {
        position: sticky;
        top: var(--stycky-menu-top-position);
        margin-bottom: -1000%;
    }

    &-contacts {
        margin: calc(var(--module) * 2.5)  calc(var(--module) * 1.5);
        font-style: normal;
    }

    &-buttons {
        margin: calc(var(--module) * 2) 0 0;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    min-height: calc(var(--module) * 20);
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        padding: calc(var(--module) * 0.5)  calc(var(--module) * 1.5) ;
    }

    &__link_active {
        background: #C4C4C4;
        padding: calc(var(--module) * 0.8) calc(var(--module) * 1.5) ;
        border-radius: 18px;
        width: max-content;
        margin-left: calc(var(--module) * -1.5) ;
    }
}

@media screen and (max-width: $screen-laptop) {
    .sidebar {
        display: none;

        &_active {
            display: block;
            position: fixed;
            z-index: 50;
            background: rgb(197 197 197 / 90%);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            padding: calc(var(--module) * 5) var(--section-x-gutter);
            margin: 0;
            text-align: center;
        }
    }

    .menu {
        &__link_active {
            background: none;
            margin-left: 0;
        }
    }
}