h1, .h1 {
    font-size: var(--heading-1);
    font-weight: 700;
    margin: calc(var(--module) * 4) 0;

    &:first-child {
        margin-top: 0;
    }
}

h2, .h2 {
    font-size: var(--heading-2);
    font-weight: 700;    
    margin: calc(var(--module) * 3) 0;

    &:first-child {
        margin-top: 0;
    }
}

h3, .h3 {
    font-size: var(--heading-3);
    font-weight: 700;    
    margin: calc(var(--module) * 5) 0 var(--module);

    &:first-child {
        margin-top: 0;
    }
}

h4, .h4 {
    font-size: var(--heading-4);
    font-weight: 700;
    margin: 0 0 calc(var(--module) * 2) ;

    &:first-child {
        margin-top: 0;
    }
}

p, .p {
    font-size: var(--font-size);
    margin: 0 0 calc(var(--module) * 2);
    font-style: normal;
    
    &:last-child {
        margin-bottom: 0;
    }  
}

blockquote {
    font-size: var(--font-size); 
    font-style: italic;
    margin: 0;
}

.t-small {
    font-size: 14px;
}

.t-large {
    font-size: 20px;
}

.lead {
    font-size: 24px;
    margin: 0 0 calc(var(--module) * 4) ;
}

.t-xlarge {
    font-size: 32px;
    margin: 0 0 calc(var(--module) * 2);
}

.quote {
    font-size: 18px;
    font-weight: 700;     
    border-left: 2px solid var(--color-product);
    padding-left: calc(var(--module) * 1.8);
}

.text-bold {
    font-weight: 700; 
}

.text-center {
    text-align: center;
}

@media screen and (max-width: $screen-tablet) {
    .lead {
        font-size: 20px;
    }  

    .t-xlarge {
        font-size: 24px;
    }
}
